In [65]:
import pandas as pd
import numpy as np

# Lectura y fusi√≥n

In [66]:
df_galaxia = pd.read_csv('galaxias.csv')
df_halos = pd.read_csv('datos.csv')

In [67]:
df_galaxia.head()

   SubhaloGrNr  stellar_mass  color_g_i  galaxy_size       sSFR
0          0.0     12.725052   1.100183     2.114161 -13.500000
1          1.0     12.576932   1.083376     2.180462 -12.547038
2          2.0     12.514578   0.950649     2.036437 -11.672924
3          3.0     12.431301   1.089487     1.962991 -12.283516
4          4.0     12.442983   1.093084     2.042622 -12.041166

In [68]:
df_halos.head()

,ID,X_h,Y_h,Z_h,M_h,C_h,S_h,z_h,delta3_h
0,0,43.718815,48.813644,147.594960,15.017177,0.741347,0.054005,0.606061,57.296656
1,1,81.856514,121.018326,194.532700,14.947234,0.707000,0.003501,0.484848,45.673574
2,2,119.228165,67.811490,196.039400,14.845078,0.849128,0.011050,0.606061,36.506752
3,3,86.512830,81.893570,52.624557,14.784928,0.699686,0.067233,0.303030,38.577715
4,4,134.485400,36.361380,35.270620,14.756064,0.748552,0.029053,0.424242,37.453936

In [69]:
df_concatenado = pd.merge(df_halos, df_galaxia, left_on='ID', right_on='SubhaloGrNr', how='inner')

In [70]:
df_concatenado.shape

(174785, 14)

In [71]:
df_concatenado.head()

,ID,X_h,Y_h,Z_h,M_h,C_h,S_h,z_h,delta3_h,SubhaloGrNr,stellar_mass,color_g_i,galaxy_size,sSFR
0,0,43.718815,48.813644,147.594960,15.017177,0.741347,0.054005,0.606061,57.296656,0.0,12.725052,1.100183,2.114161,-13.500000
1,1,81.856514,121.018326,194.532700,14.947234,0.707000,0.003501,0.484848,45.673574,1.0,12.576932,1.083376,2.180462,-12.547038
2,2,119.228165,67.811490,196.039400,14.845078,0.849128,0.011050,0.606061,36.506752,2.0,12.514578,0.950649,2.036437,-11.672924
3,3,86.512830,81.893570,52.624557,14.784928,0.699686,0.067233,0.303030,38.577715,3.0,12.431301,1.089487,1.962991,-12.283516
4,4,134.485400,36.361380,35.270620,14.756064,0.748552,0.029053,0.424242,37.453936,4.0,12.442983,1.093084,2.042622,-12.041166

In [72]:
mean_concat = [np.mean(df_concatenado['M_h']), np.mean(df_concatenado['C_h']), np.mean(df_concatenado['S_h']), np.mean(df_concatenado['z_h']),  np.mean(df_concatenado['delta3_h'])]
std_concat = [np.std(df_concatenado['M_h']), np.std(df_concatenado['C_h']), np.std(df_concatenado['S_h']), np.std(df_concatenado['z_h']),  np.std(df_concatenado['delta3_h'])]

In [73]:
print(mean_concat)
print(std_concat)

[11.564309247466891, 1.0160512827804538, 0.04936910685229069, 1.3253987366298325, 2.9682246082425423]
[0.4647562648277112, 0.15517336226872755, 0.02891839418545782, 0.6176086346481726, 2.8908099087383863]

In [58]:
#RAW
mean_data = np.array([11.56402166,  1.01631081,  0.04940789,  1.32597217,  2.96404967])
std_data = np.array([0.46291709, 0.15845161, 0.02893565, 0.6149362 , 2.88140351])